.styled-date-picker-input-range-compact {
    @apply flex gap-4 items-center flex-wrap w-fit cursor-pointer #{!important};
    &.range-compact-disabled {
        @apply pointer-events-none text-gama-300 #{!important};
    }
}
