.styled-calendar-day-picker {
    @apply font-roboto m-0 #{!important};
}

.months {
    @apply flex flex-col gap-[14px] mt-[16px] mb-[16px];

    @media (min-width: 640px) {
        @apply flex-row ml-[14px] mr-[14px] mt-0 mb-0;
    }
}

.month {
    @apply flex flex-col gap-[16px];
}

.caption {
    @apply flex relative pt-[4px] justify-center items-center;
}

.caption_label {
    @apply hidden text-[16px] leading-[24px] font-medium;
    color: var(--colors-gray-700);
}

.nav {
    @apply flex gap-[8px] items-center;
}

.nav_button {
    @apply h-[28px] w-[28px] flex justify-center items-center rounded-[4px] border;
    color: var(--colors-gray-700);
    border-color: var(--colors-gray-500);
}

.nav_button_previous {
    @apply absolute left-[4px];
}

.nav_button_next {
    @apply absolute right-[4px];
}

.head_row {
    @apply flex text-[14px] leading-[20px];
}

.head_row > td:first-child {
    @apply bg-delta-50 rounded-t-[4px];
    &:after {
        @apply content-['W'] h-[20px];
    }
}

.locale-nb {
    .head_row > td:first-child::after {
        content: 'U';
    }
}

.head_cell {
    @apply capitalize w-[40px] h-[40px] flex items-center justify-center font-normal;
    color: var(--colors-gray-600);
}

.head_cell:not(:first-child) {
    @apply border-b;
}

.row {
    @apply flex w-full;
}

.row > td:first-child {
    @apply bg-delta-50 w-[40px] text-delta-700 p-2 mr-1 flex items-center justify-center text-[14px] font-normal;
}

.row:last-child > td:first-child {
    @apply rounded-b-[4px];
}

.cell {
    @apply text-[16px] leading-[20px] w-[40px] relative text-delta-800;

    &.has {
        @apply bg-gama-50;
    }

    &.first {
        @apply rounded-tl-[4px] rounded-bl-[4px];
    }

    &.last {
        @apply rounded-tr-[4px] rounded-br-[4px];
    }
}

.day {
    @apply h-[40px] w-[40px] p-0 font-bold rounded-[4px];

    &:hover {
        @apply bg-delta-50;
    }

    &.focus-visible {
        @apply outline-white outline-[2px] z-50;
        outline-color: var(--colors-gama-500) !important;
    }
}

.day_today {
    @apply text-[16px] leading-[24px] bg-gama-50 font-bold text-delta-800 border-2 border-gama-400 hover:bg-gama-100 #{!important};

    &:hover {
        @apply bg-gama-100 #{!important};
    }

    &.day_selected {
        @apply bg-gama-500 #{!important};
    }

    &.day_selected.rdp-day_range_end {
        @apply bg-gama-500 text-white #{!important};
    }
}

.day_selected {
    @apply bg-gama-500 text-white rounded-[4px] shadow-lg #{!important};
    outline: 2px solid white #{!important};
    outline-offset: -4px #{!important};

    &:hover {
        @apply bg-gama-600 text-white #{!important};
    }

    &.day_selected.rdp-day_range_end.day_outside {
        @apply bg-gama-600 text-white #{!important};
    }

    &.day_range_middle {
        @apply bg-gama-50 text-delta-800 rounded-none border-none outline-none shadow-none hover:bg-gama-100 #{!important};
    }
}

.day_outside {
    @apply text-delta-600 font-normal;
}

.day_disabled {
    @apply text-delta-300 font-normal cursor-not-allowed  #{!important};
}

.day_hidden {
    @apply hidden;
}

.weeknumber {
    @apply flex items-end justify-center absolute top-[11.3px];
}

.caption_end {
    & tfoot {
        @apply hidden;
    }

    & :global(.rdp-custom-caption) {
        @apply opacity-0 pointer-events-none;
    }
}
